<!DOCTYPE HTML>
<html >
<head>
    <title>Getting Started: Serving Web Content - main page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>Hello from main page! {{something}}</div>
</body>
</html>